

html, body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header */
header {
  background-image: url('./img/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
}

.title-bar {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  padding-right: 2rem;
}

.menu ul li {
  display: inline;
  padding: 0 1rem;
}

.slogan {
  display: flex;
  justify-content: flex-end;
}

h2 {
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  right: -2rem;
}


/* features */
.item {
  padding: 3rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.paper {
  width: 3.5rem;
  justify-content: : center;
}

.ruler, .truck {
  width: 5rem;
  height: auto;
}


/* about */
.about {
  width: 35%;
  padding: 1rem 2.5%;

}

h3 {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
}


/* footer */
footer {
  max-width: 960px;
  background-color: azure;
  color: black;
  margin-top: 5rem;
}

.copyright {
  padding: 4rem;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}


/* tablet */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    height: 22rem;
    width: 100%;
  }

  .title-bar {
    top: 0;
  }

  h2 {
    background-color: white;
    color: black;
    font-size: 1.33rem;
    font-weight: bold;
    width: auto;
    padding: 0.75rem 4rem;
    position: relative;
    top: 5rem;
    right: 2rem;
  }
}
